
@{
    ViewBag.Title = "ProcessSurvey";
}

<h2>Thank you for your feedback!</h2>
<p>A customer service representative will contact you within 24 hours.</p>
@Html.ActionLink("Return to Survey", "NewSurvey", null, new { @class = "btn btn-default myButtons2" })


