@{
    ViewBag.Title = "Contact";
}
<h2>How to contact us</h2>
If you ever have any questions or comments about or products<br />
Please be sure to contact us in whatever way is most convenient for you.<br /><br />
<div class="row">
    <div class="col-md-2">Phone:</div>
    <div class="col-md-3">1-800-555-0400</div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-3">Weekdays 8 to 5 Pacific Time</div>
</div>
<div class="row">
    <div class="col-md-2">E-mail: </div>
    <div class="col-md-3"><a href="mailto:sportspro@sportsprosoftware.com">sportspro@sportsprosoftware.com</a></div>
</div>
<div class="row">
    <div class="col-md-2">Fax: </div>
    <div class="col-md-3">1-559-555-2732</div>
</div>
<div class="row">
    <div class="col-md-2">Address:</div>
    <div class="col-md-3">SportsPro Software, Inc</div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-3">1500 N. Main Street </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-3">Fresno, California 93710</div>
</div>





}


