@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome!</h1>
<p>Lorem ipsum dolor sit amet, sit no option atomorum. An vix ignota facete veritus, sed no veri consequat. Cu usu choro 
ceteros, viris nominavi no vix. Vis sint solet ne. Aeque iudicabit pro ex. Vix nihil ridens ne, eu cum quem libris 
urbanitas.</p>

<p>Eos ne timeam similique eloquentiam. Eos an impedit percipitur, vim ne esse omnesque, an vix mollis sanctus consulatu. 
Vis stet consul repudiare cu, quo ea qualisque vituperatoribus. Id magna tempor dissentiet usu, mel ex sint aperiam 
laoreet, causae petentium has in. Quis fuisset ius in, tota laboramus his te, sit quod dolor ea. Omnis equidem sed an.
</p>