
*{
    margin: 0;
    padding: 0;
    
}
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

body {
    margin-bottom:0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding:4px;
}

.row-bottom-margin { 
    margin-bottom:4px; 

}

h1{
    font-size: 2em;
    margin-left:0;
}

.jumbotron{
    background-color: white;
    margin-top: 2%;
    
    margin-bottom: -2%;
}


p {
    font-size: 18px;
}

.myButtons {
    background-color: black;
    color: white;
}
.header_text
{
    font-size: 1em;
    padding-left: 10%;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.footer {
  
}